* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

body {
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

header, section, footer {
    width: 75%;
    margin: auto;
}


/* Commons Styles */
.midd-size {width: 48.7%;}
.full-size {width: 95%;}

/* Horizontal text centered */
.h-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Vertical text centered */
.v-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Padding with 50px, 25px and 10px of size in y-asis, for separate sections of his content or anothers elements*/
.sp-50 {padding: 50px 0;}
.sp-25 {padding: 25px 0;}
.sp-10 {padding: 10px 0;}

.title {

}


.menu-link{

}

.li-space {
    margin: 0 10px;
}


/* Buttons*/
.btn-link {
    color: inherit;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-type1 {
    background-color: #4d8cf5;
    border: none;
    outline: none;
    transition: .5s;
}
.btn-type1:hover {
    background-color: #333;
}

.btn-type2 {
    border: 1px solid #4d8cf5;
    transition: .5s;
}
.btn-type2:hover {
    background-color:#4d8cf5;
    color: #fff;
}

/** Styles for elements of each section header. */
.section-header h2 {
    font-size: 1.5rem;
    color: #333;
}

.section-header p {
    font-style: italic;
    font-size: 1.3rem;
    margin: 10px 0;
}

.section-header hr{
    border-color: #4d8cf5;
    width: 60px;
}

/* Header */
#header {
    width: 100vw;
    height: 100vh;
    color: #fff !important;
    background: url('/images/hero-bg.jpg') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

/* Header Menu */
.navbar {
    width: 100vw; 
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: ;
    transition: 1s;
}

.navbar-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-2 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d8cf5;
    padding: 0 12%;
}

/* Remove list style for ul and give a menu style for... */
.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin: 0 5px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    padding: 10px;
    transition: 500ms;
}

.navbar-menu li a:hover {
    color: #4d8cf5;
}

.active-link {
    color: #4d8cf5 !important;
}

/* Header info*/
.header-info {
    width:65%;
    margin: auto;
}

.header-info h1 {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.header-info p {
    text-align: center;
    font-size: 1.1rem;
}

.header-btn-links {
    width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

/** Section AboutUs */
.section-content {
    display: flex;
    align-items: center;
}

.text-section p {
    text-align: justify;
}

/** Section Portfolio */
#portfolio {
    width: 100vw;
}

.portfolio-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2px;
    justify-content: center;
    margin: 0 auto;
}

.portfolio-container img {
    max-width: 100%;
    object-fit: cover;
}

.portfolio-footer p {
    font-size: 1.4rem;
}

.portfolio-footer a {
    margin: 25px 0;
    padding: 8px 25px;
}

/** Section Testimonials */
#testimonials {
    width: 100vw; 
    color: #fff;

    background: url('/images/testimonial-bg.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

#testimonials .section-header {

}

#testimonials .section-header h2 {
    color: #fff;
}

#testimonials .section-header hr {
    border-color: #fff;
    margin: 10px 0;
    
}

.testimonial-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-text {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}

.testimonial-author {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #4d8cf5;
    margin: 20px 0;
}

.testimonials-numbers {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.testimonials-numbers .testimonial-number {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #bbb;
}

.testimonials-numbers .testimonial-number:hover {
    cursor: pointer;
}

.active-testimonial-number {
    background-color: #fff !important;
}

/** Section Services */

.services-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px 10px;
    justify-content: center;
    margin: 0 auto;
}

.service {
    max-width: 30%;
    object-fit: cover;
}

.service i {
    font-size: 3rem;
    color: #4d8cf5;
}

.service h3 {
    font-weight: 500;
    color: #222;
    margin: 15px 0;
}

.service p{
    text-align: justify;
}

/** Section Team */
.members {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-content: center;
    margin: 0 auto;
}

.member {
    max-width: 25%;
    object-fit: cover;

}

.member img {
   max-width: 100%;
}

.member .member-name {
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px 0;
}

/** Section Video*/
#video {
    width: 100vw;
    color: #fff;
    
    background: url('/images/video.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

.video-container {
    width: 50%;
    margin: 0 auto;
}

.video-container img {
    width: 100px;
}

.video-container p {
    font-size: 1.3rem;
    text-align: center;
    margin: 20px 0;
}

/** Section News */

.news-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-content: center;
    margin: 0 auto;
}

.new {
    width: 30%;
    object-fit: cover;
}

.new img {
    width: 100%;
    object-fit: cover;
}

/** Section Contact */
.contact-form {
    width: 60%;
    margin: 0 auto;
}

.contact-form-input {
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
}

.h-input-row {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.contact-form input {
    height: 50px;
}

.contact-form textarea {
    height: 250px;
}

.btn-submit {
    color: #fff;
    font-weight: 100;
}

/** Footer */
#footer {
    width: 100vw;
    background-color: #333;
}

.social-links {
    list-style: none;
    margin-bottom: 10px;
}

.social-links li {
    margin: 0 5px;
}

.social-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 5px;
}

.social-links li a:hover {
    color: #4d8cf5;
}

.copyright-text a{
    text-decoration: none;
    text-transform: uppercase;
    color: #4d8cf5;
}