* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

header, section, footer {
    width: 75%;
    margin: auto;
}

ul {
    list-style: none;
    padding: 10px 0;
}

a {
    text-decoration: none;
    transition: 500ms;
}


h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}


hr {
    width: 60px;
    margin: 10px 0;
    border-color: #4d8cf5;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
}
 
/* Commons Styles */
.midd-size {width: 50%;}
.full-size {width: 100%;}

/* Horizontal text centered */
.h-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/* Vertical text centered */
.v-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

/* Padding with 50px, 25px and 10px of size in y-asis, for separate sections of his content or anothers elements*/
.sp-50 {padding: 50px 0;}
.sp-25 {padding: 25px 0;}
.sp-10 {padding: 10px 0;}

/* Buttons*/
.btn {
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    transition: .5s;
}

.btn-type1 {
    background-color: #4d8cf5;
    color: #fff;
}
.btn-type1:hover {
    background-color: #333;
}

.btn-type2 {
    background-color: #333;
    color: #fff;
}
.btn-type2:hover {
    background-color:#4d8cf5;
    color: #fff;
}

.text-justified {
    text-align: justify;
}
.text-centered {
    text-align: center;
}

/** Styles for elements of each section header. */
.section-header p {
    font-style: italic;
    font-size: 1.3rem;
    margin: 10px 0;
}

/* Header */
#header {
    width: 100vw;
    height: 100vh;
    color: #fff !important;
    background: url('/images/sections/header/hero-bg.jpg') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

/* Header Menu */
.navbar {
    width: 100vw; 
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 1s;
}

.navbar-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li a {
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

nav li a:hover {
    color: #4d8cf5;
}

.active-link {
    color: #4d8cf5 !important;
}

/* Header info*/
.header-info {
    width:65%;
    margin: auto;
}

.header-info p {
    text-align: center;
    font-size: 1.1rem;
}

/** Section AboutUs */
.text-section p {
    text-align: justify;
}

/** Section Portfolio */
#portfolio {
    width: 100vw;
}

.portfolio-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2px;
    justify-content: center;
    margin: 0 auto;
}

.portfolio-container img {
    max-width: 100%;
    object-fit: cover;
}

.portfolio-footer p {font-size: 1.4rem;}

.portfolio-footer a {
    margin: 25px 0;
    padding: 8px 25px;
}

/** Section Testimonials */
#testimonials {
    width: 100vw; 
    background: url('/images/sections/testimonials/testimonial-bg.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

#testimonials * {color: #fff;}
#testimonials hr { border-color: #fff;}

.testimonial-content {width: 60%;}
.testimonial-text {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}
.testimonial-author {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #4d8cf5;
    margin: 20px 0;
}
.bullets .bullet {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #bbb;
}
.bullets .bullet:hover {cursor: pointer;}
.active-bullet {background-color: #fff !important;}

/** Section Services */

.services-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px 30px;
    justify-content: center;
    margin: 0 auto;
}

.service {
    max-width: 100%;
    object-fit: cover;
}

.service i {
    font-size: 3rem;
    color: #4d8cf5;
}

/** Section Team */

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    justify-content: center;
    margin: 0 auto;
}

.team-member {
    max-width: 100%;
    object-fit: cover;
}

.team-member img {
    max-width: 100%;
    object-fit: cover;
}


/** Section Video*/
#video {
    width: 100vw;
    color: #fff;
    background: url('/images/sections/video/video.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

.video-container {
    width: 50%;
    margin: 0 auto;
}

.video-container img {width: 100px;}

.video-container p {
    font-size: 1.3rem;
    text-align: center;
    margin: 20px 0;
}

/** Section News */
.news-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.new {
    width:100%;
    object-fit: cover;
}

.new img {
    width: 100%;
    object-fit: cover;
}

.time-new {
    font-style: italic;
    font-weight: bold;
    color: #999;
    margin: 10px 0;
}

/** Section Contact */
.contact-form {width: 60%;}
.contact-form input {height: 40px;}
.contact-form textarea {height: 240px;}


/** Footer */
#footer {
    width: 100vw;
    background-color: #333;
}

.social-links li a {color: #fff;}
.social-links li a:hover {color: #4d8cf5;}

.copyright-text a{color: #4d8cf5;}
.copyright-text a:hover{color: #fff;}