* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

/* Header */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #5c5c5c;
    color: #fff !important;
}

.navbar {
    width: 75%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    margin: 0 20px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.header-info {
    width:65%;
    margin: auto;
}

.main-title {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.header-text-info {
    text-align: center;
    font-size: 1.1rem;
}

.header-btn-content {
    width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn-content a {
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-type1 {
    background-color: #4d8cf5;
}
.btn-type1:hover {
    background-color: #333;
}

.btn-type2 {
    border: 1px solid #4d8cf5;
}
.btn-type2:hover {
    background-color:#4d8cf5;
}
